body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.header-bg{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.header-text h1{
    margin-top: 0;
    color: white;
    font-size: 50px;
    padding: 50px;
    text-align: center;
}
.header-text p{
    margin-top: 0;
    color: white;
    font-size: 20px;
    text-align: center;
}
.donation-button{
    text-align: center;
}
.donate-btn{
    text-decoration: none;
    color: white;
    background-color: tomato;
    display: inline-block;
    padding: 15px 40px;
    font-weight: bold;
    border-radius: 5px;
}
.donate-text h1{
    font-size: 40px;
    text-align: center;
    padding: 0px 20px;
}
.donate-text p{
    text-align: center;
    padding: 0px 50px; 
}
.donate-amount{
    display: flex;
    align-items: center;
    justify-content: center;

}
.donate-amount h1{
    font-size: 40px;
    margin-left: 20px;
    color: gray;
}
#donate-money{
    border: 1px solid red;
    padding: 30px;
    background-color: rgba(255, 0, 0, 0.101);
    color: red;
    border-radius: 5px;
}
.donate-form{
    display: flex;
    justify-content: center;
}
.donate-form input{
    width: 300px;
    text-align: center;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 20px;
    margin: 20px;

}
.donate-plan h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;

}
.donate-plan p{
    text-align: center;
    color: gray;
}
.donate-plan-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.donate-card{
    padding: 30px;
    margin: 20px;
}
.donate-card img{
    height: 60px;
    width: 60px;
}
.donate-card h3{
    font-size: 30px;
}
.donate-card p{
    text-align: justify;
}
#donate-food{
    background-color: rgba(0, 217, 255, 0.404);
}
#donate-clothes{
    background-color: rgba(4, 255, 0, 0.268);
}
#donate-shelter{
    background-color: rgba(242, 255, 0, 0.195);
}
.corporate-partners h1{
    text-align: center;
    font-size: 50px;
}
.corporate-partners p{
    text-align: center;
    font-size: 20px;
    padding: 0px 50px;
}
.partner-logo{
    display: flex;
    justify-content: center;

}
.partner-logo img{
    height: 100px;
    width: 100px;
    margin: 20px;
}
.see-more-btn{
    text-align: center;
    margin: 50px;
}
.see-more-btn button{
    padding: 15px 40px;
    border:1px solid teal;
    color: teal;
    font-size: 20px;
   
}

.get-update h1{
    font-size: 40px;
    text-align: center;
    
}
.get-update p{
    font-size: 20px;
    text-align: center;
    padding: 0px 50px;

}

.update-form{
    background-color: khaki;
    padding: 100px;
    display: flex;
    justify-content: center;
}
.update-form input{
    padding: 15px 60px;
    border: none;
    border-radius: 2px;


}
.submit-btn{
    border: none;
    padding: 15px;
    background-color: rgba(255, 12, 12, 0.784);
    color: #fff;
    font-weight: bold;
}
.footer{
    background-color: black;
    padding: 30px;
}
.footer h1{
    color: rgb(251, 255, 1);
    text-align: center;
    
}
.footer p{
    color: rgb(255, 255, 255);
    text-align: center;
    
}